.active-road{
    stroke: #dfbe33; !important;
    stroke-width:3px;
}

.road{
    fill:#FFFFFF;
    stroke:#FFFFFF;
    stroke-width:1px;
    stroke-miterlimit:10;
}

.room{
    fill: #010101;
    stroke:#000000;
    stroke-width:1;
    stroke-miterlimit:10;
}

.start-node{
    stroke: #c54b49;
    stroke-width:3;
}

.end-node{
    stroke: #3bc56d;
    stroke-width:3;
}

.active-room{
    stroke: #dfbe33; !important;
    stroke-width:3;
    z-index: 3;
}

.user{
    fill: #2e24ff;
    stroke:#000000;
    stroke-miterlimit:10;
}

.hidden{
    display: none;
}

#map{
    display: block;
    width: 350px;
    height: 450px;
}
svg{
    width: inherit;
    height: inherit;
}

/*.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#FFFFFF;stroke:#000000;stroke-width:1;stroke-miterlimit:10;}
.st2{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6{fill:#FFFFFF; stroke:#000000;stroke-width:3;stroke-miterlimit:10;}
.st7{font-family:'MyriadPro-Regular';}
.st8{font-size:12px;}*/

.st0{stroke:#000000;stroke-miterlimit:10;}
.st1{stroke:#000000;}
.st2{stroke:#000000;stroke-dasharray:3,3;}
.st3{fill:#FFFFFF;stroke:#000000;}
.st4{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st5{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.st6{fill:none;stroke:#000000;}
.st7{fill:#FFFFFF;stroke:#000000;stroke-linejoin:round;stroke-miterlimit:10;}
